
<!-- Footer Here -->
<footer class="footer__section">
   <!--shpa-->
   <div class="footer__shape">
      <img src="/src/front_assets/img/footer-shape.webp" alt="img">
   </div>
   <div class="footer__darkshpae">
      <img src="/src/front_assets/img/footer-shapedark.webp" alt="img">
   </div>
   <!--shpa-->
    {% include 'views/front/includes/footer-content.html.twig' %}
   
   <!--footer mask-->
   <div class="footer__mask">
      <img src="/src/front_assets/img/box-element.webp" alt="mask">
   </div>
   <!--footer mask-->
</footer>
<!-- Footer End -->

{% include 'views/front/includes/footer-assets.html.twig' %}

   

</body>

</html>