
<!-- Footer Here -->
<footer class="footer__section">
   <!--shpa-->
   <div class="footer__shape">
      <img src="/src/front_assets/img/footer-shape.png" alt="img">
   </div>
   <div class="footer__darkshpae">
      <img src="/src/front_assets/img/footer-shapedark.png" alt="img">
   </div>
   <!--shpa-->
    {% include 'views/front/content/footer-content.html.twig' %}
   
   <!--footer mask-->
   <div class="footer__mask">
      <img src="/src/front_assets/img/box-element.png" alt="mask">
   </div>
   <!--footer mask-->
</footer>
<!-- Footer End -->
