{% include 'views/front/includes/head.html.twig' %}

<!-- Preloader Start Here -->
<div class="preloader__wrap">
   <div class="preloader__box">
      <div class="robot">
         <img src="/src/front_assets/img/ponkhi.webp" alt="img">
      </div>
   </div>
</div>
<!-- Preloader End Here -->



    
<!-- Header top Here -->
<header class="header-section">
<div class="container">
{% include 'views/front/content/navbar.html.twig' %}
</div>
</header>
<!-- Header top End -->
