<!-- Template assets -->
<link href="/assets?asset=/src/assets/css/tailwind.min.css" rel="stylesheet">
<link href="/assets?asset=/src/front_assets/css/custom.css" rel="stylesheet">
<link href="/assets?asset=/src/front_assets/css/style.css" rel="stylesheet">
<link href="/assets?asset=/src/front_assets/css/responsive.css" rel="stylesheet">
<link href="/assets?asset=/src/front_assets/css/slick.css" rel="stylesheet">
<link href="/assets?asset=/src/front_assets/css/slick-theme.css" rel="stylesheet">
<link href="/assets?asset=/src/front_assets/css/color.css" rel="stylesheet">
<link href="/assets?asset=/src/front/fontawesome/css/all.min.css" rel="stylesheet">
<input type="hidden" id="prefix-page" value="{{app.request.get('template_id')}}">
<input type="hidden" id="lang-page" value="{{app.request.get('lang')}}">

<main class="WxEditableArea" id="contentArea">
    <div id="contentAreaElement" class="kelement"></div>

    {{precode|raw}}
    {{page.content|raw}}
    {{postcode|raw}}
</main>



<div style="z-index:9999" id="modal-wrapper" class="w-full fixed left-0 top-0 h-screen hidden ">
    <div id="modal-bg" style="background:rgba(0, 0, 0, .5);" class="absolute w-full h-full left-0"></div>
    <div id="modal-content"
        class="p-10 bg-white rounded-2xl m-auto absolute left-0 right-0 top-0 bottom-0 max-w-2xl my-10"
        style="z-index:9"></div>
</div>

