{% include 'views/front/includes/head.html.twig' %}
<section class="sigin__page bg__white">
   <div class="container">
      <div class="signin__wrapper">
         <div class="row justify-content-center">
            <div class="col-lg-8">
               <div class="payment__success__inner">
                  <div class="payment__success__header">
                     <div class="icon">
                        <i class="material-symbols-outlined">
                           done
                        </i>
                     </div>
                     <h2>{{lang.__('thanks')}}</h2>
                     <p class="primary-text">{{lang.__('Activated your account successfully')}} {{lang.__('thanks_for_activating_account')}}</p>
                  </div>
                  <div class="payment__success__footer">
                     <hr />
                     <div class="dbutton">
                        <a href="/login" class="cmn--btn"><span>{{lang.__('Login to APP')}}</span></a>
                     </div>
                  </div>
               </div>
            </div>
        </div>
      </div>
   </div>
</section>

   


   <!--Jquery 3 6 0 Min Js-->
   <script src="/src/front_assets/js/jquery-3.6.0.min.js"></script>
   <!--Bootstrap bundle Js-->
   <script src="/src/front_assets/js/bootstrap.bundle.min.js"></script>
   <!--Viewport Jquery Js-->
   <script src="/src/front_assets/js/viewport.jquery.js"></script>
   <!--Odometer min Js-->
   <script src="/src/front_assets/js/odometer.min.js"></script>
   <!--Magnifiw Popup Js-->
   <script src="/src/front_assets/js/jquery.magnific-popup.min.js"></script>
   <!--Wow min Js-->
   <script src="/src/front_assets/js/wow.min.js"></script>
   <!--Owl carousel min Js-->
   <script src="/src/front_assets/js/owl.carousel.min.js"></script>
   <!--Prijm Js-->
   <script src="/src/front_assets/js/prism.js"></script>
   
   <!--Sweetalert2 Js-->
   <script src="/src/front_assets/js/sweetalert2@11.js"></script>

   <!--main Js-->
   <script src="/src/front_assets/js/main.js"></script>



</body>

</html>