{% include 'views/front/includes/header.html.twig' %}

{% include 'views/front/content/hero.html.twig' %}

{% include 'views/front/content/about.html.twig' %}

{% include 'views/front/content/features.html.twig' %}

{% include 'views/front/content/carousel.html.twig' %}

{% include 'views/front/content/plans.html.twig' %}

{% include 'views/front/content/effective.html.twig' %}

{% include 'views/front/content/testimonials.html.twig' %}

{% include 'views/front/content/subscribe.html.twig' %}

{% include 'views/front/includes/footer.html.twig' %}

   

{% include 'views/admin/editor.html.twig' %}


</body>

</html>