{% include 'views/front/includes/header.html.twig' %}

{% include 'views/front/content/hero.html.twig' %}

{% include 'views/front/content/about.html.twig' %}

{% include 'views/front/content/features.html.twig' %}

{% include 'views/front/content/carousel.html.twig' %}

{% include 'views/front/content/plans.html.twig' %}

{% include 'views/front/content/effective.html.twig' %}

{% include 'views/front/content/testimonials.html.twig' %}

{% include 'views/front/content/subscribe.html.twig' %}

{% include 'views/front/includes/footer.html.twig' %}

   


   <!--Jquery 3 6 0 Min Js-->
   <script src="/src/front_assets/js/jquery-3.6.0.min.js"></script>
   <!--Bootstrap bundle Js-->
   <script src="/src/front_assets/js/bootstrap.bundle.min.js"></script>
   <!--Viewport Jquery Js-->
   <script src="/src/front_assets/js/viewport.jquery.js"></script>
   <!--Odometer min Js-->
   <script src="/src/front_assets/js/odometer.min.js"></script>
   <!--Magnifiw Popup Js-->
   <script src="/src/front_assets/js/jquery.magnific-popup.min.js"></script>
   <!--Wow min Js-->
   <script src="/src/front_assets/js/wow.min.js"></script>
   <!--Owl carousel min Js-->
   <script src="/src/front_assets/js/owl.carousel.min.js"></script>
   <!--Prijm Js-->
   <script src="/src/front_assets/js/prism.js"></script>
   <!--Sweetalert2 Js-->
   <script src="/src/front_assets/js/sweetalert2@11.js"></script>

   <!--main Js-->
   <script src="/src/front_assets/js/main.js"></script>



</body>

</html>