{% set item = page %}
{% set header_menu = header_menu %}
{% set footer_menu1 = footer_menu1 %}
{% set footer_menu2 = footer_menu2 %}
{% include 'views/front/includes/head.html.twig' %}
{% include 'views/front/includes/header.html.twig' %}


<div id="root" class="mx-auto">

<!-- loader -->
<div class="preloader"> 
      <div class="loader4"></div>
</div>

{% if page.content %}
{{app.renderTemplate(page.content, item).render( {'lang':lang, 'page': page, 'app': app }  )|raw}}
{% endif %}

<!-- progress -->
<div id="progress">
      <span id="progress-value"><i class="fa-solid fa-up-long"></i></span>
</div>
<!-- progress end -->

<!-- Footer -->
{% include 'views/front/includes/footer.html.twig' %}

<script src="/src/front_assets/js/toastify.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/src/front_assets/js/bootstrap.min.js"></script>
<script src="/src/front_assets/js/owl.carousel.min.js"></script>
<!-- fancybox -->
<script src="/src/front_assets/js/jquery.fancybox.min.js"></script>
<script src="/src/front_assets/js/slick.min.js"></script>
<script src="/src/front_assets/js/custom.js"></script>

</body>

</html>