{% include 'views/front/includes/head.html.twig' %}
<section class="sigin__page bg__white">
   <div class="container">
      <div class="signin__wrapper">
         <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
               <div class="signin__content__left">
                  <div class="signin__head">
                     <h3>
                        Lets's Get Started!
                     </h3>
                     <p class="accout">
                        Do you have an account? <a href="signup.html"><b>Go to APP</b></a>
                     </p>
                  </div>
                  <form action="/userSignup" method="POST" id="signup-form">
                     <div class="row g-4">
                        <div class="col-lg-6">
                           <div class="form__grp">
                              <label for="firstname">First Name</label>
                              <input name="params[first_name]" type="text" id="firstname" placeholder="Enter First Name..." required>
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="form__grp">
                              <label for="lastname">Last Name</label>
                              <input name="params[last_name]"  type="text" id="lastname" placeholder="Enter Last Name..." >
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form__grp">
                              <label for="emailid">Enter YOur Email ID</label>
                              <input name="params[email]"  type="email" id="emailid" placeholder="Enter Your Email..." required>
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form__grp">
                              <label for="paswords">Enter Your Password</label>
                              <input name="params[password]" minlength="5" type="text" id="paswords" placeholder="Enter Your Password..." required>
                           </div>
                        </div>
                     </div>
                     <p style="padding-top: 15px;">
                        <button type="submit" class="cmn--btn">
                           <span>
                              Signup
                           </span>
                        </button>
                        <a href="/" class="danger" style="padding: 10px; ">
                           <span>Back home</span>
                        </a>
                     </p>
                  </form>
               </div>
            </div>
            <div class="col-lg-5">
               <div class="signin__thumb">
                  <img src="/src/front_assets/img/wepik-export-20230526231330BFpe.png" alt="signin">
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

   


   <!--Jquery 3 6 0 Min Js-->
   <script src="/src/front_assets/js/jquery-3.6.0.min.js"></script>
   <!--Bootstrap bundle Js-->
   <script src="/src/front_assets/js/bootstrap.bundle.min.js"></script>
   <!--Viewport Jquery Js-->
   <script src="/src/front_assets/js/viewport.jquery.js"></script>
   <!--Odometer min Js-->
   <script src="/src/front_assets/js/odometer.min.js"></script>
   <!--Magnifiw Popup Js-->
   <script src="/src/front_assets/js/jquery.magnific-popup.min.js"></script>
   <!--Wow min Js-->
   <script src="/src/front_assets/js/wow.min.js"></script>
   <!--Owl carousel min Js-->
   <script src="/src/front_assets/js/owl.carousel.min.js"></script>
   <!--Prijm Js-->
   <script src="/src/front_assets/js/prism.js"></script>
   
   <!--Sweetalert2 Js-->
   <script src="/src/front_assets/js/sweetalert2@11.js"></script>

   <!--main Js-->
   <script src="/src/front_assets/js/main.js"></script>



</body>

</html>