
   <div id="modal-wrap" class="modal-wrap hidden has-image">
      <div class="modal-content">
         <div class="form_area">
            <div class="section__header section__center">
               <h2>Edit image</h2>
               <p>Set the "src" URL for the image, and the Alt text.</p>
            </div>
            <hr />
            <form action="#" id="form">
               <div class="form-control">
                     <label for="src">Image URL</label>
                     <input type="text" id="src" placeholder="Image src url">
                     <small>Full image url</small>
               </div>
               <hr/>
               <div class="form-control">
                     <label for="alt">Alt text</label>
                     <input type="text" id="alt" placeholder="Image alt text">
                     <small>Image alt text</small>
               </div>
               <hr/>
               <button class="cmn--btn" id="update-image" type="button"><span>Done</span></button>
               <img id="src_demo" src="">
            </form>
         </div>
      </div>
   </div>



   <div id="modal-wrap" class="modal-wrap hidden has-link">
      <div class="modal-content">
         <div class="form_area">
            <div class="section__header section__center">
               <h2>Edit link</h2>
               <p>Set the URL for this link.</p>
            </div>
            <hr />
            <form action="#" id="form">
               <div class="form-control">
                     <label for="src">Link </label>
                     <input type="text" id="link" placeholder="Action full link">
               </div>
               <hr/>
               <button class="cmn--btn" id="update-link" type="button"><span>Done</span></button>
            </form>
         </div>
      </div>
   </div>


<script type="text/javascript">
   
jQuery("section").hover(function() {

   if (jQuery(this).attr('contenteditable') == 'true')
   {
      jQuery(this).append("<div class='borders'><button id='saveSection' class='cmn--btn save'>Save</button></div>");
         
   } else {

      jQuery(this).append("<div class='borders'><button id='editSection' class='cmn--btn edit' >Edit</button></div>");
   }

}, function() {
      jQuery(this).children('.borders').remove();
});

jQuery(document).on('click', '#editSection', function(e) {
   jQuery('section').attr('contenteditable', false)
   jQuery(jQuery(this).parent().parent('section')[0]).attr('contenteditable', true).addClass('active-section')
   jQuery(this).remove();
   jQuery(jQuery(this).parent().parent('section')[0]).children('.borders').replaceWith("<div class='borders'><button id='saveSection' class='cmn--btn save'>Save</button>></div>");
})


jQuery(document).on('click', '#saveSection', function(e) {
   var section  = jQuery(this).parent().parent('section')[0];
   jQuery(section).attr('contenteditable', false)
   jQuery(this).remove();
   jQuery('.active-section').removeClass('active-section');
   jQuery(jQuery(this).parent().parent('section')[0]).children('.borders').replaceWith("<div class='borders'><button id='editSection' class='cmn--btn save'>Edit</button>></div>");

   console.log(jQuery(section).find('.borders').remove());
   console.log(jQuery(section)[0].outerHTML);

   var jqxhr = $.post( '/admin/update_section_content', {type:'edit_section', section: jQuery(section).attr('id'), content:jQuery(section)[0].outerHTML}, function() {
   })
  .fail(function() {
    alert( "error" );
  });
})

jQuery(document).on('contextmenu', 'section[contenteditable="true"] img', function(e) {
   e.preventDefault()
   jQuery(this).addClass('active-edit');
   jQuery('#modal-wrap.has-image').removeClass('hidden')
   jQuery('#modal-wrap.has-image').find('#src').val(e.target.src)
   jQuery('#modal-wrap.has-image').find('#alt').val(e.target.alt)
   jQuery('#modal-wrap.has-image').find('#src_demo')[0].src = e.target.src
})

jQuery(document).on('click', '#update-image', function(e) {

   jQuery('img.active-edit')[0].src = jQuery('#modal-wrap.has-image').find('#src').val()
   jQuery('img.active-edit')[0].alt = jQuery('#modal-wrap.has-image').find('#alt').val()
   jQuery('img.active-edit')[0].alt = jQuery('#modal-wrap.has-image').find('#alt').val()
   jQuery('#modal-wrap.has-image').addClass('hidden')
   jQuery('img.active-edit').removeClass('active-edit');


  //  var jqxhr = $.post( '/', {section:}, function() {
  //     alert( "success" );
  //  })
  // .done(function() {
  //   alert( "second success" );
  // })
  // .fail(function() {
  //   alert( "error" );
  // });
})


jQuery(document).on('contextmenu', 'section[contenteditable="true"] a', function(e) {
   e.preventDefault()
   jQuery(this).addClass('active-edit');
   jQuery('#modal-wrap.has-link').removeClass('hidden')
   jQuery('#modal-wrap.has-link').find('#link').val(e.currentTarget.href)
   console.log(e.currentTarget.href)
})

jQuery(document).on('click', '#update-link', function(e) {

   jQuery('a.active-edit')[0].href = jQuery('#modal-wrap.has-link').find('#link').val()
   jQuery('#modal-wrap.has-link').addClass('hidden')
   jQuery('a.active-edit').removeClass('active-edit');
})


</script>




<style>
   .hidden
   {
      display: none;
   }
   img#src_demo {width: 50px; float: right;} 
   section[contenteditable="true"] .borders {
      border-color: red;
   }
   .borders {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 10px dashed #666;
      z-index: 0;
   }
   .borders .cmn--btn
   {
      margin: 10px;
   }
   .borders .cmn--btn.save
   {
      background: #41E295;
   }

   section .container {position: relative; z-index: 9}
   .modal-wrap
   {
      position: fixed;
      background: rgba(0,0,0,0.8);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 9999;
   }
   .modal-content 
   {
      background: white;
      border-radius: 20px;
      padding: 15px;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 60%;
      max-height: 80%;
      height: auto;
      min-width: 350px;
   }
   section {
      position: relative;
   }
   
</style>