
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login page | Medians System</title>
    <meta name="description" content="Medians PS is a solution that manage cyber cafes, gaming & playstation lounges branches witn inventory management and booking system.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bedayahospitals.com/login">
    <meta property="og:title" content="">
    <meta property="og:image" content="https://bedayahospitals.com/route/image.php?src=1253926083_1828277228_581308477.jpg&img=pic&w=800">
    <meta property="og:description" content="Medians PS is a solution that manage cyber cafes, gaming & playstation lounges branches witn inventory management and booking system">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="">
    <!-- <meta property="twitter:image" content=""> -->
    <meta property="twitter:description" content="Medians PS is a solution that manage cyber cafes, gaming & playstation lounges branches witn inventory management and booking system">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/uploads/images/favicon.webp">
    <link rel="icon" type="image.webp" sizes="32x32" href="/uploads/images/favicon.webp">
    <link rel="icon" type="image.webp" sizes="16x16" href="/uploads/images/favicon.webp">

    <!-- CSS -->
   <link rel="stylesheet" href="/dist/css/app.css">
    
    
</head>
<body class="p-0 m-0 ">
<section class="sigin__page bg__white">
   <div class="container mx-auto">

   <section class="h-screen">
  <div class="h-full">
    <!-- Left column container with background-->
    <div
      class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between">
      <div
        class="shrink-1 mb-12 grow-0 basis-auto md:mb-0 w-2/4">
        <img
          src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="w-full"
          alt="Sample image" />
      </div>

      <!-- Right column container -->
      <div class="mb-12 md:mb-0 w-1/4">
         <form action="/login" method="POST" id="login-form">
                     
          <!-- Email input -->
          <div class="relative mb-6" data-te-input-wrapper-init>
            <input
              type="text"
              class="peer bg-white block w-full rounded border-0 bg-transparent px-4  py-2 leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
              id="exampleFormControlInput2"
              placeholder="Email address" name="params[email]"  />
          </div>

          <!-- Password input -->
          <div class="relative mb-6" data-te-input-wrapper-init>
            <input
              type="password"
              class="peer bg-white w-full rounded border-0 bg-transparent px-4  py-2 leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
              id="exampleFormControlInput22"
              placeholder="Password" name="params[password]"  />
          </div>


          <!-- Login button -->
          <div class="text-center lg:text-left">
            <button
              type="submit"
              class="inline-block rounded bg-primary px-4 py-2 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
              data-te-ripple-init
              data-te-ripple-color="light">
              Login
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</section>

   </div>
</section>

   


   <!--Jquery 3 6 0 Min Js-->
   <script src="/src/builder/js/jquery.min.js"></script>
   <!--Bootstrap bundle Js-->
   <script src="/src/builder/assets/js/bootstrap.bundle.min.js"></script>
   
   <script>
   
      jQuery(document).on('submit','form', function(e){
         e.preventDefault();

         let action = $(this).attr('action');

         $.ajax({
               url: action,
               type: "POST",             
               data: new FormData(this),
               dataType: "json",
               contentType: false,       
               cache: false,             
               processData:false, 
               success: function(html) 
               {
                  if (html && html.error)
                  {
                     alert(html.error)
                  } else {
                     window.location.href = '/dashboard';
                  }

               }
         });
      });

   </script>
   </style>

</body>

</html>