                    
                    <h3>{{lang.translate(title)}}</h3>
                    <div class="boder"></div>
                    <p>{{lang.translate('RESET_PASSWORD_MSG') | raw}}</p>
                    <form action="/reset-password" method="POST" id="login-form">
                        <label class="relative block  "><input required="true" type="email" name="params[email]"
                                class="rounded-input with-icon" placeholder="Enter your Email address..."><i
                                class="fa fa-envelope py-2 w-4 absolute right-4 left-4 top-5"></i></label>
                        
                        <div class="flex gap-6">
                            <button class="btn mt-2 px-8 py-2  text-white fw-bold">{{lang.translate('Send')}}</button>
                        </div>
                    </form>