<section class="capabilities__section bgsection pt-120 pb-120" id="carousel-section" contenteditable="false">
   <!--shpae-->
   <div class="capa__mask">
      <img src="/src/front_assets/img/capamask.webp" alt="capa-mask">
   </div>
   <!--shpae-->
   <!--container-->
   <div class="container">
      <!--section header-->
      <div class="capabilites__header wow fadeInDown pb__60" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInDown;">
         <div class="section__header">
            <h2><span style="color: var(--themetext); font-size: 2.5rem; text-align: var(--bs-body-text-align);">Manual</span><span style="color: var(--themetext); font-size: 2.5rem; text-align: var(--bs-body-text-align);">&nbsp;</span>Guide for simplification&nbsp;</h2>
            <p>
               system includes real-time monitoring, streamlined inventory management, with an easy-to-use interface that makes it simple</p>
         </div>
         <a href="https://www.youtube.com/@MediansPSSystem" class="cmn--btn">
            <span>
               See All videos</span></a>
      </div>
      <!--section header-->
      <!--capabilites warap-->
      <div class="capabilities__wrap wow fadeInUp row" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
         
         <div class=" col-md-4 col-sm-6 col-xs-12">
            <div class="capabilities__items">
               <div class="thumb">
                  <img src="/uploads/img/new-booking.webp" alt="capabi" class="">
                  <a href="https://www.youtube.com/watch?v=B8yH1cMq4qw" class="play__btn video-btn">
                     <i class="material-symbols-outlined">
                        play_arrow
                     </i>
                  </a>
               </div>
               <div class="content"><a href="studies-1.html" class="cmn--btn capabilites__btn"><span>Bookings</span></a><h4><a href="/studies-1.html" style="font-size: 1.2rem; text-align: var(--bs-body-text-align); --bs-link-color-rgb: var(--bs-link-hover-color-rgb);">How to create new booking through the calenda</a>r.<br></h4>
                  
               </div>
            </div>
         </div>
         <div class=" col-md-4 col-sm-6 col-xs-12">
            <div class="capabilities__items">
               <div class="thumb">
                  <img src="/uploads/img/add-product.webp" alt="capabi" class="">
                  <a href="https://www.youtube.com/watch?v=Zt1EslmxvGQ" class="play__btn video-btn">
                     <i class="material-symbols-outlined">
                        play_arrow
                     </i>
                  </a>
               </div>
               <div class="content">
                  <a href="0" class="cmn--btn capabilites__btn">
                     <span>
                        Products</span></a><h4>
                     Know how to&nbsp;<a href="studies-1.html">add products to booking</a>.<br></h4>
                  
               </div>
            </div>
         </div>
         <div class=" col-md-4 col-sm-6 col-xs-12">
            <div class="capabilities__items">
               <div class="thumb">
                  <img src="/uploads/img/complete-booking.webp" alt="capabi" class="">
                  <a href="https://www.youtube.com/watch?v=wXNv-x5zVgE" class="play__btn video-btn">
                     <i class="material-symbols-outlined">
                        play_arrow
                     </i>
                  </a>
               </div>
               <div class="content">
                  <a href="javascript:void(0)" class="cmn--btn capabilites__btn">
                     <span>
                        Orders</span></a><h4>
                     Should&nbsp;<a href="studies-1.html">complete the booking and proceed to checkout</a>.<br></h4>
                  
               </div>
            </div>
         </div>
      </div>
      <!--capabilites warap-->
   </div>
   <!--container-->
   <!--elelments-->
   <div class="global__mask">
      <img src="/src/front_assets/img/global__mask.webp" alt="img">
      <div class="light__element1">
         <img src="/src/front_assets/img/light-elements.webp" alt="light">
      </div>
   </div>
   <div class="capa__ai">
      <img src="/src/front_assets/img/ai-element.webp" alt="img">
   </div>
   <div class="capa__rocket">
      <img src="/src/front_assets/img/rocket-element.webp" alt="img">
   </div>
   <div class="light__element1">
      <img src="/src/front_assets/img/light-elements.webp" alt="light">
   </div>
   <!--elelments-->
</section>