<section class="efective__section bg__white pt-120 pb-120" id="effective-section" contenteditable="false">
   <!--container-->
   <div class="container">
      <div class="row justify-content-between flex-row-reverse">
         <!--col grid-->
         <div class="col-xl-6 col-lg-7">
            <div class="efective__content">
               <div class="section__header pb__32">
                  <h2 class="wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                     Step-by-step user manual for effective and efficient use
                  </h2>
                  <p class="wow fadeInDown" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInDown;">Don't scare, we provide videos for how it works and how to manage the business in smart way.
                  </p>
               </div>
               <div class="efective__data__wrapper">
                  <div class="efect__data__iems wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                     <div class="icons">
                        <img src="http://192.168.1.99:81/src/front_assets/img/braindata.png" alt="icon" class="">
                     </div>
                     <div class="content">
                        <h5>
                           Bookings management</h5>
                        <p>
                           The booking process completely have videos that guides users to manage and follow effortlessly&nbsp;</p>
                     </div>
                  </div>
                  <div class="efect__data__iems wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
                     <div class="icons icons2">
                        <img src="http://192.168.1.99:81/src/front_assets/img/datastored.png" alt="icon" class="">
                     </div>
                     <div class="content">
                        <h5>
                           Accounting &amp; billing</h5>
                        <p>
                           The main part is how to know your weakness &amp; strength points through the reports and follow the income &amp; outcome resources</p>
                     </div>
                  </div>
                  <div class="efect__data__iems wow fadeInUp" data-wow-duration="2.2s" style="visibility: visible; animation-duration: 2.2s; animation-name: fadeInUp;">
                     <div class="icons icons3">
                        <img src="http://192.168.1.99:81/src/front_assets/img/dataprocessing.png" alt="icon" class="">
                     </div>
                     <div class="content">
                        <h5>
                           Business add-ons</h5>
                        <p>
                           As software as business have addons that may help in sales and marketing, like Tournaments, Affiliate system, QR Code invoices, etc&nbsp;</p></div></div>
               </div>
            </div>
         </div>
         <!--col grid-->
         <div class="col-xl-5 col-lg-5 col-md-12">
            <div class="efective__thumb">
               <img src="http://192.168.1.99:81/src/front_assets/img/steps.png" alt="efective" class="">
               <!--efect Element-->
               <div class="efect__element2">
                  <img src="http://192.168.1.99:81/src/front_assets/img/efect-cross2.png" alt="img" class="">
               </div>
               <div class="efect__element3">
                  <img src="/src/front_assets/img/efect-cross.png" alt="img">
               </div>
               <div class="efect__element4">
                  <img src="http://192.168.1.99:81/src/front_assets/img/efect-trevuj.png" alt="img" class="">
               </div>
               <div class="efect__element5">
                  <img src="http://192.168.1.99:81/src/front_assets/img/efecttablet1.png" alt="img" class="">
               </div>
               <div class="efect__element6">
                  <img src="http://192.168.1.99:81/src/front_assets/img/efecttablet2.png" alt="img" class="">
               </div>
               <div class="efect__element7">
                  <img src="/src/front_assets/img/efect-rount.png" alt="img">
               </div>
               <!--efect Element-->
            </div>
         </div>
         <!--col grid-->
      </div>
   </div>
   <!--container-->
   <!--elements-->
   <div class="eye__elements">
      <img src="/src/front_assets/img/eye-element.png" alt="eye">
   </div>
   <div class="efect__element1">
      <img src="/src/front_assets/img/efect-ball.png" alt="img">
   </div>
   <!--elements-->
</section>