<section class="feature__section bgsection pt-120 pb-120" id="features-section" contenteditable="false">
   <!--container-->
   <div class="container">
      <!--Section header-->
      <div class="section__header section__center pb__60 wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
         <h2>
            Key Services Features
         </h2>
         <p class="pb__32">
            AI is the broader concept of machines being able to carry out tasks in a way that would normally require human intelligence.
         </p>
         <a href="#" class="cmn--btn border__btn"><span>Know more</span></a></div>
      <!--Section header-->
      <div class="row g-5 justify-content-center align-items-center">
         <!--col grid-->
         <div class="col-sm-6 col-xl-4">
            <div class="feature__component__wrap feature__right__align">
               <div class="feature__items wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                  <div class="icon">
                     <img src="/src/front_assets/img/man.webp" alt="icon">
                  </div>
                  <div class="content">
                     <h4>
                        Robotic Automation
                     </h4>
                     <p>
                        Machine learning (ML), a fundamental concept of AI research since...
                     </p>
                  </div>
               </div>
               <div class="feature__items pl__space wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
                  <div class="icon">
                     <img src="/src/front_assets/img/ai.webp" alt="icon">
                  </div>
                  <div class="content">
                     <h4>
                        Image Processing
                     </h4>
                     <p>
                        Machine learning (ML), a fundamental concept of AI research since...
                     </p>
                  </div>
               </div>
               <div class="feature__items wow fadeInUp" data-wow-duration="2.2s" style="visibility: visible; animation-duration: 2.2s;">
                  <div class="icon">
                     <img src="/src/front_assets/img/cloud.webp" alt="icon">
                  </div>
                  <div class="content">
                     <h4>
                        Al For Cloud Services
                     </h4>
                     <p>
                        Machine learning (ML), a fundamental concept of AI research since...
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <!--col grid-->
         <div class="col-8 order-sm-3 order-xl-2 col-xl-4">
            <div class="feature__thumb">
               <img src="http://192.168.1.99:81/src/front_assets/img/vecteezy_3d-robot-illustration-kawaii-friendly-suitable-for-tech-mascot_23220595_72.webp" alt="feature" class="">
            </div>
         </div>
         <!--col grid-->
         <div class="col-sm-6 order-sm-2 col-xl-4">
            <div class="feature__component__wrap">
               <div class="feature__items wow fadeInUp" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: fadeInUp;">
                  <div class="icon">
                     <img src="/src/front_assets/img/machine.webp" alt="icon">
                  </div>
                  <div class="content">
                     <h4>
                        Machine Learning
                     </h4>
                     <p>
                        Machine learning (ML), a fundamental concept of AI research since...
                     </p>
                  </div>
               </div>
               <div class="feature__items pr__space wow fadeInUp" data-wow-duration="2.6s" style="visibility: visible; animation-duration: 2.6s; animation-name: fadeInUp;">
                  <div class="icon">
                     <img src="/src/front_assets/img/virtual.webp" alt="icon">
                  </div>
                  <div class="content">
                     <h4>
                        Virtual Reality
                     </h4>
                     <p>
                        Machine learning (ML), a fundamental concept of AI research since...
                     </p>
                  </div>
               </div>
               <div class="feature__items wow fadeInUp" data-wow-duration="2.8s" style="visibility: visible; animation-duration: 2.8s;">
                  <div class="icon">
                     <img src="/src/front_assets/img/neurology.webp" alt="icon">
                  </div>
                  <div class="content">
                     <h4>
                        Deep Learning
                     </h4>
                     <p>
                        Machine learning (ML), a fundamental concept of AI research since...
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <!--col grid-->
      </div>
   </div>
   <!--container-->
   <!--elements-->
   <div class="feature__rocket">
      <img src="/src/front_assets/img/feature-rocket.webp" alt="rocket">
   </div>
   <div class="feature__ai">
      <img src="/src/front_assets/img/feature-ali.webp" alt="rocket">
   </div>
   <div class="light__element1">
      <img src="/src/front_assets/img/light-elements.webp" alt="light">
   </div>
   <div class="light__element2">
      <img src="/src/front_assets/img/light-elements.webp" alt="light">
   </div>
   <div class="light__element3">
      <img src="/src/front_assets/img/light-elements.webp" alt="light">
   </div>
   <div class="light__element4">
      <img src="/src/front_assets/img/light-elements.webp" alt="light">
   </div>
   <!--elements-->
</section>