<section id="footer-content-section" contenteditable="false" class="">

   <div class="container">
      <div class="footer__wrapper">
           
         <div class="footer__top">
               <div class="row g-5">
                  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                     <div class="footer__widget">
                        <div class="widget__head">
                           <a href="/" class="footer__logo">
                              <img src="/src/front_assets/img/whitelogo.png" alt="logo" class="">
                           </a>
                        </div>
                        <p class="pb__20">Medians develop AI tools that helps business management and productivity...</p>
                        <ul class="social">
                           <li>
                              <a href="https://www.facebook.com/MediansPSsystem/" class="social__item">
                                 <span class="icon">
                                    <img src="http://192.168.1.99:81/src/front_assets/img/facebook.svg" alt="svg" class="">
                                 </span>
                              </a>
                           </li>
                           <li>
                              <a href="https://www.facebook.com/MediansPSsystem/" class="social__item social__itemtwo">
                                 <span class="icon">
                                    <img src="http://192.168.1.99:81/src/front_assets/img/instagram.svg" alt="svg" class="">
                                 </span>
                              </a>
                           </li>
                           <li>
                              <a href="https://www.youtube.com/@MediansPSSystem" class="social__item social__itemthree">
                                 <span class="icon">
                                    <img src="http://192.168.1.99:81/src/front_assets/img/twitter.svg" alt="svg" class="">
                                 </span>
                              </a>
                           </li>
                           <li>
                              <a href="javascript:void(0)" class="social__item social__itemfour">
                                 <span class="icon">
                                    <img src="http://192.168.1.99:81/src/front_assets/img/linkedin.svg" alt="svg" class="">
                                 </span>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                     <div class="footer__widget">
                        <div class="widget__head">
                           <h4>
                              Quick Links
                           </h4>
                        </div>
                        <div class="widget__link">
                           <a href="about.html" class="link"><br>About us
                           </a>
                           <a href="studies-1.html" class="link">Terms &amp; Policy</a>
                           <a href="blocks-working.html" class="link">
                              How it's Works</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                     <div class="footer__widget">
                        <div class="widget__head">
                           <h4><br></h4>
                        </div>
                        <div class="widget__link">
                           <a href="blocks-working.html" class="link"><br>Contact us</a>
                           <a href="shop.html" class="link">Tournament guide</a><a href="shop.html" class="link"><a href="http://192.168.1.99:81/admin/blocks-working.html" class="link" style="background-color: ; font-family: var(--bs-body-font-family); font-size: var(--bs-body-font-size); font-weight: var(--bs-body-font-weight); text-align: var(--bs-body-text-align); --bs-link-color-rgb: var(--bs-link-hover-color-rgb); line-height: 24px; display: inline !important;">How it's Works</a></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                     <div class="footer__widget">
                        <div class="widget__head">
                           <h4>
                              Contact
                           </h4>
                        </div>
                        <div class="widget__link">
                           <a href="javascript:void(0)" class="footer__contact__items">
                              <span class="icon">
                                 <i class="material-symbols-outlined">
                                    add_call
                                 </i>
                              </span>
                             <span class="fcontact__content">
                                 (+20) 109-686-9285</span>
                           </a>
                           <a href="javascript:void(0)" class="footer__contact__items">
                              <span class="icon icontwo">
                                 <i class="material-symbols-outlined">
                                    mark_as_unread
                                 </i>
                              </span>
                              <span class="fcontact__content">
                                <span class="__cf_email__" data-cfemail="63061b020e130f0623061b020e130f064d000c0e">[email&nbsp;protected]</span>
                              </span>
                           </a>
                           <a href="javascript:void(0)" class="footer__contact__items">
                              <span class="icon iconthree">
                                 <span class="material-symbols-outlined">
                                    pin_drop
                                 </span>
                              </span>
                              <span class="fcontact__content">
                                 140 - 26 July street , Zamalek,&nbsp;Cairo, Egypt</span>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="footer__bottom">
               <p>
                  Copyright ©2023 <a href="javascript:void(0)" class="intellicon">Medians</a>. Developed By <a href="https://themeforest.net/user/pixelaxis" class="theme">Medians</a>&nbsp;team</p>
            </div>
         </div>
      </div>
   </section>