<section class="banner__section bannerbg" id="hero-section" contenteditable="false">
   <!--Mask-->
   <div class="banner__bgmask">
      <img src="/src/front_assets/img/box-element.webp" alt="mask">
   </div>
   <!--Mask-->
   <!--Container-->
   <div class="container">
      <div class="banner__wrapper">
         <div class="row g-4  justify-content-between">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
               <div class="banner__content">
                  <div class="content__box">
                     <span class="d3 mb-0  wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;"><span style="font-size: 4rem; color: var(--white); font-family: var(--bs-body-font-family); text-align: var(--bs-body-text-align);">PlayStation&nbsp;</span><span class="theme" style="font-size: 4rem; font-family: var(--bs-body-font-family); text-align: var(--bs-body-text-align);">cafe</span><span style="font-size: 4rem; color: var(--white); font-family: var(--bs-body-font-family); text-align: var(--bs-body-text-align);"> and </span><span class="theme2" style="font-size: 4rem; font-family: var(--bs-body-font-family); text-align: var(--bs-body-text-align);">gaming</span><span style="font-size: 4rem; color: var(--white); font-family: var(--bs-body-font-family); text-align: var(--bs-body-text-align);"> lounge</span><br></span>
                     <p class="wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;"><br>Bookings software needs AI technologies now, so we provide this solution to give the ability to gaming lounges owners to control their business with smart system ...
                     </p>
                     <div class="btg__grp wow animated animated animated animated" style="visibility: visible;">
                        <a href="/signup" class="cmn--btn">
                           <span>Get Started</span>
                        </a>
                        <a href="https://www.youtube.com/watch?v=8ejMZxEw9ns" class="play__btn video-btn">
                           <span class="play__icon">
                              <i class="material-symbols-outlined">
                                 play_arrow
                              </i>
                           </span>
                           <span>
                              Watch Intro Video
                           </span>
                        </a>
                     </div>
                 </div>
                  <div class="ai__text">
                     <img src="/src/front_assets/img/t-element.webp" alt="ai">
                  </div>
                  <div class="ai__elements">
                     <img src="/src/front_assets/img/ai-element.webp" alt="ai">
                  </div>
               </div>
            </div>
            <div class="col-xxl-1 col-xl-1 col-lg-1"></div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-8">
               <div class="banner__thumb">
                  <div class="thumb">
                     <img src="/src/front_assets/img/banner1.webp" alt="banner">
                  </div>
                  <div class="rocket__element">
                     <img src="/src/front_assets/img/rocket-element.webp" alt="rocket">
                  </div>
               </div>
            </div>
            <div class="col-xxl-1 col-xl-1 col-lg-1"></div>
         </div>
      </div>
   </div>
   <!--Container-->
   <!--Elements-->
   <div class="ball__element">
      <img src="/src/front_assets/img/ball-element.webp" alt="ball">
   </div>
   <div class="banner__mask">
      <img src="/src/front_assets/img/shape-element1.webp" alt="mask">
   </div>
   <div class="dark__mask d-none">
      <img src="/src/front_assets/img-shape1-dark.webp" alt="mask">
   </div>
   <div class="light__element1">
      <img src="/src/front_assets/img/light-elements.webp" alt="light">
   </div>
   <div class="light__element2">
      <img src="/src/front_assets/img/light-elements.webp" alt="light">
   </div>
   <div class="light__element3">
      <img src="/src/front_assets/img/light-elements.webp" alt="light">
   </div>
   <div class="light__element4">
      <img src="/src/front_assets/img/light-elements.webp" alt="light">
   </div>
   <div class="light__element5">
      <img src="/src/front_assets/img/light-elements.webp" alt="light">
   </div>
   <!--Elements-->
</section>