<section id="navbar-section" contenteditable="false" class="">
      <div class="header-wrapper">
         <div class="logo-menu">
            <a href="http://192.168.1.99:81/" class="logo">
               <img src="/src/front_assets/img/whitelogo.png" alt="logo" class="">
            </a>
            <a href="index.html" class="small__logo d-xl-none">
               <img src="/src/front_assets/img/favicon.png" alt="logo">
            </a>
         </div>
      </div>
</section>
