<section class="plan__section bgsection pt-120 pb-120" id="plans-section" contenteditable="false">
   <!--container-->
   <div class="container">
      <div class="row g-5">
         <!--col grid-->
         <div class="col-xl-6 col-lg-10">
            <div class="plan__content__left wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
               <div class="section__header pb__40">
                  <h2>
                     Start Free or go Fast.&nbsp;</h2>
                  <p class="pb__32">
                     Don't miss out on the benefits of our cloud-based management software. Choose your suitable plan today and discover how it can transform the way you run your business.</p>
                  <p class="pb__32"><span style="font-weight: var(--bs-body-font-weight); text-align: var(--bs-body-text-align);">Before making any purchase you can go with the free plan to discover how benefited your business will get.&nbsp;</span></p>
                  <p><img src="/src/front_assets/img/plans.webp" alt="breain" style="width: 280px; animation: 10s linear 0s infinite normal none running bns1; color: rgb(255, 255, 255); font-family: system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, &quot;Noto Sans&quot;, &quot;Liberation Sans&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; " class=""><br></p>
               </div>
               
            </div>
         </div>
         <!--col grid-->
         <div class="col-xl-6">
            <div class="plan__wrapper">
               <div class="plan__items">
                  <div class="plan__head">
                     <h4>
                        Free</h4>
                     <p>
                        For personal use
                     </p>
                  </div>
                  <div class="content__wrap">
                     <div class="prices__area">
                        <div class="icon">
                           <i class="material-symbols-outlined">
                              add_business
                           </i>
                        </div>
                        <h3>
                           <span class="dollar">
                              $
                           </span>
                           0.00
                        </h3>
                     </div>
                     <ul class="plan__list">
                        <li>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 task_alt
                              </i>
                           </span>
                           <span>
                              Single branch</span>
                        </li>
                        <li>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 task_alt
                              </i>
                           </span>
                           <span>
                             5 devices</span>
                        </li>
                        <li>
                           <span class="icon"><span class="material-symbols-outlined danger" style="font-size: 14.4px; line-height: 30px;">dangerous</span><br></span>
                           <span>
                              Free website</span>
                        </li>
                        <li>
                           <span class="icon">
                              <i class="material-symbols-outlined danger">
                                 dangerous
                              </i>
                           </span>
                           <span>Free optimization
                           </span>
                        </li>
                        <li>
                           <span class="icon">
                              <i class="material-symbols-outlined danger">
                                 dangerous
                              </i>
                           </span>
                           <span>
                              Hotline supports 24/7
                           </span>
                        </li>
                     </ul>
                     <div class="price__btn">
                        <a href="/signup" class="cmn--btn border__btn">
                           <span>
                              Sign up</span></a>
                     </div>
                  </div>
               </div>
               <div class="plan__items premium__items">
                  <div class="plan__head">
                     <h4>
                        Premium
                     </h4>
                     <p>
                        For Multi use
                     </p>
                  </div>
                  <div class="content__wrap">
                     <div class="prices__area">
                        <div class="icon">
                           <i class="material-symbols-outlined">
                              add_card
                           </i>
                        </div>
                        <h3>
                           <span class="dollar">
                              $
                           </span>
                           5.00
                        </h3>
                     </div>
                     <ul class="plan__list">
                        <li>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 task_alt
                              </i>
                           </span>
                           <span>
                              Unlimited branches</span>
                        </li>
                        <li>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 task_alt
                              </i>
                           </span>
                           <span>
                             Unlimited devices</span>
                        </li>
                        <li>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 task_alt
                              </i>
                           </span>
                           <span>
                              Free website with builder</span>
                        </li>
                        <li>
                           <span class="icon"><span class="material-symbols-outlined" style="font-size: 14.4px; line-height: 30px;">task_alt</span><br></span>
                           <span>Free optimization
                           </span>
                        </li>
                        <li>
                           <span class="icon"><span class="material-symbols-outlined" style="font-size: 14.4px; line-height: 30px;">task_alt</span><br></span>
                           <span>
                              Hotline supports 24/7
                           </span>
                        </li>
                     </ul>
                     <div class="price__btn">
                        <a href="/signup" class="cmn--btn border__btn">
                           <span>
                              Sign up</span></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--col grid-->
      </div>
   </div>
   <!--container-->
   <!--elements-->
   <div class="plan__ai">
      <img src="/src/front_assets/img/feature-ali.webp" alt="rocket">
   </div>
   <div class="plan__ball">
      <img src="/src/front_assets/img/bigball-elements.webp" alt="rocket">
   </div>
   <div class="plan__man">
      <img src="/src/front_assets/img/planrobot.webp" alt="rocket">
   </div>
   <div class="light__element1">
      <img src="/src/front_assets/img/light-elements.webp" alt="light">
   </div>
   <div class="light__element2">
      <img src="/src/front_assets/img/light-elements.webp" alt="light">
   </div>
   <!--elements-->
</section>