<section class="testimonial__section bgsection pt-120 pb-120" id="testimonials-section" contenteditable="false">
   <!--contaienr-->
   <div class="container">
      <div class="row justify-content-between">
         <!--col grid-->
         <div class="col-xxl-6 col-xl-6 col-lg-7">
            <div class="testimonial__content">
               <div class="section__header pb__60 wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
                  <h2>
                     What people say about our service and benifits</h2>
               </div>
               <div class="testimonial__wrap__wided ">
                  <div class="testimonial__items maxwidht">
                     <div class="star__grp">
                        <i class="material-symbols-outlined">
                           star
                        </i>
                        <i class="material-symbols-outlined">
                           star
                        </i>
                        <i class="material-symbols-outlined">
                           star
                        </i>
                        <i class="material-symbols-outlined">
                           star
                        </i>
                        <i class="material-symbols-outlined">
                           star_half
                        </i>
                     </div>
                     <p>
                        Once we used the system we knew how this system saved us from so long time and effort was being paid at the business</p>
                     <div class="client__wrap">
                        <div class="thumb">
                           <img src="http://192.168.1.99:81/src/front_assets/img/devon.webp" alt="img" class="">
                        </div>
                        <div class="content">
                           <h5>
                              Devon Lane 
                           </h5>
                           <span class="designation">
                              Louis Vuitton
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="testimonial__items maxwidht testimonial__fixed">
                  <div class="star__grp">
                     <i class="material-symbols-outlined">
                        star
                     </i>
                     <i class="material-symbols-outlined">
                        star
                     </i>
                     <i class="material-symbols-outlined">
                        star
                     </i>
                     <i class="material-symbols-outlined">
                        star
                     </i>
                     <i class="material-symbols-outlined">
                        star_half
                     </i>
                  </div>
                  <p>
                     Our company has seen significant improvement in efficiency and accuracy since implementing AI and ML technology in our processes...
                  </p>
                  <div class="client__wrap">
                     <div class="thumb">
                        <img src="/src/front_assets/img/testimonial/kathryn.webp" alt="img">
                     </div>
                     <div class="content">
                        <h5>
                           Kathryn Mrphy 
                        </h5>
                        <span class="designation">
                           The Wait Disney Company
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--col grid-->
         <div class="col-xl-5 col-xl-5 col-lg-5 col-md-8 col-sm-8">
            <div class="testimonial__thumb">
               <img src="http://192.168.1.99:81/src/front_assets/img/testimonials.webp" alt="client" class="">
               <div class="testi__dots">
                  <img src="/src/front_assets/img/3dots-elements.webp" alt="dots">
               </div>
               <div class="testi__swtich">
                  <img src="/src/front_assets/img/swith-elements.webp" alt="dots">
               </div>
               <div class="testi__pinterest">
                  <img src="/src/front_assets/img/pinter-elements.webp" alt="dots">
               </div>
               <div class="testi__bell">
                  <img src="/src/front_assets/img/bell-elements.webp" alt="dots">
               </div>
               <div class="testi__facebook">
                  <img src="/src/front_assets/img/facebook-element.webp" alt="dots">
               </div>
            </div>
         </div>
         <!--col grid-->
      </div>
   </div>
   <!--contaienr-->
   <!--efect Element-->
   <div class="efect__element1">
      <img src="/src/front_assets/img/efect-ball.webp" alt="img">
   </div>
   <div class="efect__element2">
      <img src="/src/front_assets/img/efect-cross2.webp" alt="img">
   </div>
   <div class="efect__element4">
      <img src="/src/front_assets/img/efect-trevuj.webp" alt="img">
   </div>
   <div class="efect__element7">
      <img src="/src/front_assets/img/efect-rount.webp" alt="img">
   </div>
   <!--efect Element-->
</section>