{% set hasindex = 2 %}
{% include 'views/front/default/includes/header.html.twig' %}
{% if (item.homepage == '' or item.homepage == 0)  %}
{% if item.order != 3 %}
<div class="w-full cyan-bg lg:pb-4 pt-6 lg:pt-20 relative ">
    <div class="w-full overflow-hidden h-full absolute bottom-0 left-0">
        <img loading="lazy" alt="{{app.settings['sitename']}}" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .3;" />
    </div>
    <div class="container mx-auto relative pt-8">
        <h1 class="text-2xl mx-auto w-auto text-center font-bold text-white">{{item.content.title}}</h1>
        {% if item.content.short %}<p class="text-center w-full text-white">{{item.content.short|raw}}</p>{% endif %}
    </div>
</div>
{% endif %}
{% endif %}
<div class="blog-content ">
    <div class="mx-auto ">
        {{app.renderTemplate(item.content.content, item).render( {'item':item,  'hasindex':4, 'app':app, 'lang':lang, 'doctors': doctors, 'specializations': specializations, 'all_stories':all_stories, 'all_technologies': all_technologies}  )|raw}}
    </div>
</div>
{% include 'views/front/default/includes/navbar.html.twig' %} 


<style>
.blog-content section.kedit > .keditable > h3
{
    color: #fff
}
.blog-content section.kedit > .keditable > p
{
}
.list-icon li [
    margin: 0 0 5px 0
]
</style>

{% include 'views/front/default/includes/footer.html.twig' %}