<div class="custom-scroll-container custom-scroll lg-custom-scroll-container lg-custom-scroll px-4" >
                    <div  class=" w-full inline-block">
                    
                        <div  class="owl-carousel  w-full ">
                            <div class="px-2 show-modal-picture" data-picture-link="/stream?image=/uploads/images/about-slider1.webp">
                                <img loading="lazy" src="/stream?image=/uploads/images/about-slider1.webp" width="800" height="533">
                            </div>
                            <div class="px-2 show-modal-picture" data-picture-link="/stream?image=/uploads/images/about-slider2.webp">
                                <img loading="lazy" src="/stream?image=/uploads/images/about-slider2.webp"  width="800" height="533" >
                            </div>
                            <div class="px-2  show-modal-picture" data-picture-link="/stream?image=/uploads/images/about-slider3.webp">
                                <img loading="lazy" src="/stream?image=/uploads/images/about-slider3.webp"  width="800" height="533" >
                            </div>
                            <div class="px-2 show-modal-picture" data-picture-link="/stream?image=/uploads/images/about-slider4.webp">
                                <img loading="lazy" src="/stream?image=/uploads/images/about-slider4.webp"  width="800" height="533" >
                            </div>
                            <div class="px-2 show-modal-picture" data-picture-link="/stream?image=/uploads/images/about-slider5.webp">
                                <img loading="lazy" src="/stream?image=/uploads/images/about-slider5.webp"  width="800" height="533" >
                            </div>
                        </div>
                    </div>
                </div>