{% include 'views/front/default/includes/header.html.twig' %}
{% include 'views/front/default/includes/navbar.html.twig' %}
<div class="w-full cyan-bg pb-6 pt-20 relative ">
	<div class="w-full overflow-hidden h-full absolute bottom-0 left-0">
		<img loading="lazy" alt="{{app.settings['sitename']}}" src="https://streaming.quatre-co.com/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .3;"https://streaming.quatre-co.com/>
	</div>
	<div class="container mx-auto relative pt-8">
		<h1 class="text-2xl mx-auto w-auto text-center font-bold text-white">{{lang.translate('Video Title')}}</h1>
	</div>
</div>

<hr/>
<div class="bg-gray-100 relative ">
	<div id="app-content" class="container mx-auto pb-20">
		<div class=" w-full  h-screen gradient-top-overlay min-h-40" id="video-page-container" style=" max-height: calc(100vh - 70px)">

			<figure id="videoPageContainer" class="container mx-auto  shadow-xl absolute right-0  top-0 left-0 ">
				<video id="video-page" class="w-full h-screen" data-container="videoPageContainer" preload="metadata" poster="https://www.bedayahospitals.com/uploads/images/bedaya-67b440e9eded7.webp" >
					<source src="/uploads/v.mp4" type="video/mp4">
				</video>

				<div id="video-controls" class="flex px-6 gap-4 text-gray-400 absolute bottom-0 left-0 w-full gradient-top-overlay pt-10" data-state="hidden">
					<button class="play-video brightness-200" data-player="video-page" id="play" type="button" data-state="play"><img src="https://streaming.quatre-co.com/src/front_assets/svg/video-play.svg" class="w-4 brightness-200"></button>
					<button class="pause-video brightness-200" data-player="video-page" style="display:none" id="pause" type="button" data-state="pause"><img src="https://streaming.quatre-co.com/src/front_assets/svg/video-pause.svg" class="w-4 brightness-200"></button>
					<div id="current-time-page"></div>
					<div class="progress w-full">
						<progress id="progress" data-player="video-page" class="cursor-pointer bg-gray-800 w-full rounded-2xl overflow-hidden " value="0" min="0" step="1" max="">
							<span id="progress-bar"></span>
						</progress>
					</div>
					<span id="video-duration-page"></span>
				</div>
			</figure>

		</div>
		<div class="lg:block hidden w-full h-40 lg:absolute top-0 left-0 gradient-overlay" style="z-index:1; "></div>

		<div class=" w-full  relative lg:block hidden" id="video-overlay">
			<div class="absolute lg:bottom-20 lg:left-40 bottom-2 py-2 max-w-full  px-2 w-full z-10 text-gray-100 dark:text-gray-300">
				<h1 class="lg:text-4xl text-2xl text-white overflow-hidden"> No description has been added to this video.</h1>


				<div class="w-full flex gap-4 py-4"></div>

			</div>
		</div>
		<div class="p-4  h-full overflow-hidden rounded-2xl mt-40" x-data="{is_slide: 'slide'}">

			<div class="relative z-10 w-full  gap-4 bg-white dark:bg-gray-900 rounded-2xl p-8 h-full">

				<div class="relative w-full   gap-4 flex lg:flex-row flex-col">
					<div class="relative w-full   gap-4 flex">
						<a href="https://streaming.quatre-co.com/artist/1" class="ajax-load flex gap-6 text-primary">
							<img src="https://streaming.quatre-co.com/stream?thumbnail=100&amp;image=design-awesome-album-cover-art-66f5289a925d6.jpg" alt="User Avatar" class="w-10 h-10 rounded-full">
							<div class="text-xl dark:text-gray-300">Amr
								<p class="text-xs dark:text-gray-300">Artist</p>
							</div>
						</a>
					</div>
					<div class="flex gap-2 flex-none text-primary h-8">

						<div class="flex-none pt-1 ">
							<div class="flex gap-4 stats-icons ">


								<span class=" cursor-pointer text-sm flex gap-2 relative">
									<span class="tooltiptext  text-xs">Views</span>
									<img class="w-5" src="https://streaming.quatre-co.com/src/front_assets/svg/views.svg">
									<span class="pt-1" id="views-count">95</span>
								</span>
								<span class=" cursor-pointer text-sm flex gap-2 relative">
									<span class="tooltiptext  text-xs">Comments</span>
									<img class="w-5" src="https://streaming.quatre-co.com/src/front_assets/svg/comments.svg">
									<span class="pt-1" id="comments-">1</span>
								</span>
							</div>
						</div>
						<div class="flex-none flex gap-4 stats-icons">
							<span class="relative flex pt-2">
								<span x-on:click="jQuery('#show-box-path').val('video/163'); jQuery('#share-popup').removeClass('hidden')" class="cursor-pointer mx-2 text-sm text-gray-100 "><img src="https://streaming.quatre-co.com/src/front_assets/svg/share.svg" class="w-5"></span>
								<span class="tooltiptext">Share</span>
							</span>
							<span class="pt-1">Nov 29, 2024</span>
						</div>
					</div>
				</div>
				<h2 class="pt-10 text-2xl  text-rose-500 overflow-hidden">delete-facebook-account.mp4</h2>

				<span class="block pt-10 text-sm text-gray-500">About</span>
				<div class="text-primary overflow-auto" style="max-height: 400px;">
					<div class="dark:text-gray-300 py-4">delete-facebook-account.mp4</div>
				</div>


				<div class="max-h-[200px] overflow-auto flex py-10" style="flex-direction: column-reverse;" id="comments-list">
					<div class="flex flex-col gap-1 w-full p-2 py-4 comment " data-id="61">
						<div class="flex items-center space-x-2 rtl:space-x-reverse">
							<span class="text-sm font-normal text-gray-900 dark:text-white">Amr</span>
							<span class="text-sm font-normal text-gray-500 dark:text-gray-300">Nov 29, 2024 | 09:55</span>
						</div>
						<div class="w-full  leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
							<p class="text-sm font-normal text-gray-900 dark:text-white w-full max-h-64 overflow-auto">
								fb</p>
						</div>
					</div>
				</div>
				<label for="chat" class="sr-only">Your comment</label>
				<form action="#" id="comment-short" class="ajax-form w-full " data-element="comments-list" data-prepend="true">
					<div class="flex items-center py-2 px-3 bg-gray-50 rounded-lg dark:bg-gray-700">
						<input type="hidden" name="type" value="Comment.create">
						<input type="hidden" name="params[item_id]" value="163">
						<input type="hidden" name="params[item_type]" value="Medians\Media\Domain\MediaItem">
						<input type="hidden" name="append" value="true">
						<textarea id="chat" name="params[comment]" rows="1" class="block mx-4 p-2 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
						<button type="submit" onclick="(function(){  setTimeout(function(){jQuery('#chat').val(''); }, 1000)})()" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
							<svg class="w-6 h-6 rotate-90" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
							</svg>
						</button>
					</div>
				</form>
			</div>

		</div>

		 <script>
		
		$(function(){
			
			let video = document.getElementById('video-page')
			
		    jQuery(document).on('click', '#main-side a', function(){
				var video = document.getElementById('video-page') 
				video.pause()
				video.src =  '';
			})
		
			addEventListener('load', e => {
				
				playVideo(video, false)
			})
		})
		</script>
         <script src="https://streaming.quatre-co.com/src/front_assets/js/slide.js"></script>
         <script src="https://streaming.quatre-co.com/src/front_assets/js/custom.js"></script>
         <script src="https://streaming.quatre-co.com/src/front_assets/js/video-player.js"></script>
         <script src="https://streaming.quatre-co.com/src/front_assets/js/main.js"></script>

        {# Style the progress bar #}
        <style>
        progress::-webkit-progress-bar,
        progress::-webkit-progress-value,
        progress::-moz-progress-bar
        {
            background-color: #f30;
        }
        progress
        {
            width: 100%;
            height: 8px;
            background-color: #f30;
        }
        #progress-bar {
            background-color: #f30 !important;
            width: 0%;
            height: 8px;
            transition: width 0.5s ease-in-out;
        }
        </style>


	</div>
</div>
{% include 'views/front/default/includes/footer.html.twig' %}
