@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'balooregular';
    src: url('../fonts/Baloo-Regular-webfont.ttf');
    src: url('../fonts/Baloo-Regular-webfont.woff') format('woff'),
         url('../fonts/Baloo-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.rtl {
    direction: rtl;
}

body {
    font-family: 'Poppins';
}
p {
    font-family: 'Roboto';
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'balooregular';
}
.red-gradient
{
    background: rgb(139,21,26);
    background: linear-gradient(121deg, rgba(139,21,26,1) 0%, rgba(146,23,26,1) 15%, rgba(184,31,25,1) 100%);
}
.cyan-gradient
{
    background: rgb(75,135,133);
    background: linear-gradient(121deg, rgba(75,135,133,1) 0%, rgba(75,135,133,1) 40%, rgba(75,135,133,0) 100%);
    opacity: .1;
}







/**
*   Header styles
*/
#main-header h1 span,
 h3 span
{
    color: #E2342D;
}







