<!-- Template assets -->
<input type="hidden" id="content-id" value="{{page.id }}">

{% include 'views/front/'~ template ~'/includes/head_assets.html.twig' %}
{% include 'views/front/'~ template ~'/includes/header.html.twig' %}
<main class="WxEditableArea" id="contentArea">
    <div id="contentAreaElement" class="kelement"></div>

    {{precode|raw}}
    {{page.content|raw}}
    {{postcode|raw}}
</main>



<div style="z-index:9999" id="modal-wrapper" class="w-full fixed left-0 top-0 h-screen hidden ">
    <div id="modal-bg" style="background:rgba(0, 0, 0, .5);" class="absolute w-full h-full left-0"></div>
    <div id="modal-content"
        class="p-10 bg-white rounded-2xl m-auto absolute left-0 right-0 top-0 bottom-0 max-w-2xl my-10"
        style="z-index:9"></div>
</div>

<style>
    
    body .swiper-wrapper {
        display: black ;
    }
</style>
{% include 'views/front/'~ template ~'/includes/footer.html.twig' %}
