{% include 'views/admin/includes/header.html.twig' %}
<div class=" w-full px-2 overflow-y-auto max-h-screen">
            <medians_calendar
            :configuration="calendar_settings"
                :settings="{{app.Settings | json_encode}}"
            :devices="{{devicesList|json_encode}}"
            ></medians_calendar>
           
           
</div>
<div id="main-forms-container"></div>
{% include 'views/admin/includes/footer.html.twig' %}