

                 
    <style type="text/css">
        .text-default{ text-align:  {{app.Settings.lang == 'arabic' ? 'right' : 'left'}} }
    </style>

    <script type="text/javascript" src="/dist/js/app.js"></script>

</body>
</html>
