{% if app.ajax_request < 1 %}

    </div>

    <style type="text/css">
        .text-default{ text-align:  {{app.Settings.lang == 'arabic' ? 'right' : 'left'}} }
    </style>

    <script type="text/javascript" src="{{app.CONF.url ? app.CONF.url : '/'}}assets/dist/alertify.min.js"></script>
   
</body>

</html>
{% endif %}